/* Padrão geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que o footer fique no rodapé */
}

/* Navbar padrão */
.navbar-custom {
    background-color: #004080; /* Azul padrão da navbar */
    padding: 10px 0;
}

.navbar-custom .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #f8f9fa !important;
}

.navbar-custom img {
    max-height: 40px;
    margin-right: 10px;
}

.navbar-custom .nav-link {
    color: #f8f9fa !important;
}

.navbar-custom .nav-link:hover {
    color: #f0ad4e !important; /* Efeito hover */
}

/* Footer */
.footer-custom {
    background-color: #004080; /* Cor do footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Garante que o footer fique no final */
}

.footer-custom p {
    margin: 0;
}